body{
    background: #F6F4ED;
}
.navbar-brand{
    color: #7B29DD;
    font-family:Clicker Script;
    font-size: 30px;
}
.nav-link{
    font-family: Work Sans;
    font-size:  13px;
}
.signup-button{
    background: #FDC400;
    border: none;
}
.btn{
    font-weight:600;
    font-size: small;
}
.img1{
    width: 40%;
    /* height: 50%; */
    position: absolute;
    right: 0;

}
.img2{
    width: 30%;
    position: absolute;
    right: 10%;
    top: 100%;
}
.award-img{
    height: 60px;
    background: #FDC400;
    padding: 2%;
    margin: 3%;
}
section{
    width: 100%;
}

h1{
    margin-top: auto;
    font-size: 3.1rem;
    font-weight: 600;
    font-family: 'Shantell Sans', cursive;
}
span{
    color: #7B29DD;
}
.title{
    margin: 9rem;
}
.btn-catalog{
        background: #FDC400;

}
@media screen and (max-width: 480px){

    .title {
        margin: 5%;
        font-size: 10px;
        
    }
    h1{
        font-size: 30px;

    }
    .img2{
        top: 60%;
}
}
@media screen and (max-width: 830px){

    .title{
        margin: 5%;
    }

}